@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
    background-color: azure;

}

.links{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    border-style: solid;
    border-width: 1px;
    padding: 1px 1px 1px 1px;
    background-color: gold;


}

a:link {
    color: aliceblue;
    
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: gold;
    background-color: darkblue;
    margin: 0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
    border-width: 1px;
    border-color: #4B93BF;
    border-style: solid;

}



h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.paragrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}

#musica {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: aliceblue;
    background-color: darkseagreen;
    margin: 0px 0px 50px 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px #4B93BF;


}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}