@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
    background-color: azure;
   background-image: url(imagens/4858794.jpg);
    

}

.links{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    border-style: solid;
    border-width: 1px;
    padding: 1px 1px 1px 1px;
    background-color: #FFB200;


}

a:link {
    color: aliceblue;
    
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background-color: #233E8B;
    margin: 0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
    border-width: 1px;
    border-color: #4B93BF;
    border-style: solid;

}



h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.paragrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.imagem {

    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: aliceblue;
    margin: 0px 5px 5px 5px;
    padding: 5px 0px 0px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #1EAE98;
    box-shadow: 0px 0px 8px 0px #233E8B;

}


#musica {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: #233E8B;
    background-color: #A9F1DF;
    margin: 0px 0px 50px 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px #1EAE98;


}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.rodape{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    border-style: solid;
    border-width: 1px;
    border-color: bisque;
    padding: 1px 1px 1px 1px;
    background-color: #FFB200;


}